version: "3.9"

services:
  api:
    build: .
    container_name: smart_meter_api
    restart: always
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - mongo

  mongo:
    image: mongo:7
    container_name: smart_meter_mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_DB}
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
